
<style>
	a i { font-size: 20px;}
</style>

<hgroup class="title">
	<h1>Contact Us</h1>
</hgroup>

<section class="contact">
	<header>
		<h3>Email</h3>
	</header>
	<p>
		<span class="label">Personal:</span>
		<span>
			<a href="mailto:dakn2005@gmail.com">
				dakn2005@gmail.com
			</a>
		</span>
	</p>
	<p>
		<span class="label">Company:</span>
		<span>
			<a href="mailto:info@upbit.com">
				info@juubit.com
			</a>
		</span>
	</p>

</section>

<section class="contact">
	<header>
		<h3>Address</h3>
	</header>
	<p>
		Find me on the web<br/>
		<a href="https://www.linkedin.com/pub/david-kimana/21/a23/1b8" target="_blank"><i class="fa fa-linkedin"></i></a>
		&nbsp;&nbsp;
		<a href="#"><i class="fa fa-twitter" title="@keymannerdawid"></i></a>
	</p>
<!--
	<p>For a more enterprise ready application, contact me using:<br/>
		<i class="fa fa-mail-reply"></i>&nbsp;dakn2005@yahoo.com
		<br/>
		<i class="fa fa-mail-reply"></i>&nbsp;dakn2005@gmail.com
	</p>
-->

</section>