<div ng-controller="HeaderController">
    <!-- navbar navbar-fixed-top navbar-inverse -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="http://localhost:5000">KijijiPizza</a>
            
            <ul class="nav" ng-show="global.isSignedIn() && global.isAdmin()"><!-- -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">
                        Employee
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/employees">View all</a>
                        </li>
                        <li>
                            <a href="#/employees/create">Add</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">
                        Users
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/users">View All</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <ul class="nav" ng-show="global.isSignedIn()">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">
                        Order
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-show="!global.isEmployee() && !global.isAdmin()">
                            <a href="#/orders/create">Make order</a>
                        </li>
                        
                        <li>
                            <a href="#/orders/deliveryschedule" ng-show="global.isAdmin()=='true' || global.isEmployee()=='true'">Delivery Schedule</a>
                        </li>
						<li>
						    <a href="#/orders/deliverycalender" ng-show="global.isAdmin()=='true' || global.isEmployee()=='true'">Delivery Calender</a>
						</li>
<!--                        <li class="divider"></li>-->
                        <li ng-show="!global.isAdmin() && !global.isEmployee()">
                            <a href="#/orders">View all</a>
                        </li>
                       
<!--
                        <li ng-show="global.isAdmin()">
                            <div class="divider"></div>
                            <a href="#">All Orders</a>
                        </li>
-->
                    </ul>
                </li>
                <li>
                    <a href="/#/contact">Contact Us</a>
                </li>
            </ul>
            

            <ul class="nav pull-right" ng-hide="global.isSignedIn()">
                <li>
                    <a href="/signin">Sign In</a>
                </li>
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
            </ul>


            <ul class="nav pull-right" ng-show="global.isSignedIn()">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">
                        {{ global.currentUser().username }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/users/me">Details</a>
                        </li>
                        <li>
                            <a href="/signout">Sign Out</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>

</div>