<div>
    <div class="hero-unit">
        <h1> {{projectName}}</h1>
        <hr/>This is a sample project for a fantasy pizza joint.
        <br/>Built on the MEAN (Mongodb, Express, Angular, NodeJs) stack it show-cases a use case on a website / web applications built on these technologies.
        <br/>
        <br/>The site is free to download, use, and do wharever.
        <hr/>
        <h3>Users</h3>
        <ul>
            <li><i>name:</i>admin1 <i>password:</i>admin1</li>
            <li><i>name:</i>admin2 <i>password:</i>admin2</li>
            <li><i>name:</i>client1 <i>password:</i>client1</li>
            <li><i>name:</i>client2 <i>password:</i>client2</li>
            <li><i>name:</i>client3 <i>password:</i>client3</li>
            <li><i>name:</i>emp1 <i>password:</i>emp1</li>
            <li><i>name:</i>emp2 <i>password:</i>emp2</li>
            <li><i>name:</i>emp3 <i>password:</i>emp3</li>
            <li><i>name:</i>emp4 <i>password:</i>emp4</li>
        </ul>
    </div>
    <div>
        <img src="images/express.jpg" alt="" />
        <img src="images/mongodb.png" height="169px" width="169px" alt="" />
        <img src="images/nodejs.png" height="169px" width="169px" alt="" />
        <img src="images/angular.png" height="169px" width="169px" alt="" />
        <img src="images/knockoutjs.png" height="169px" alt="" style="margin-top:5px;" />
        <img src="images/underscore.png" height="169px" width="525px" alt="" style="margin-top:5px;" />
    </div>
</div>

