extends layout

block content
    //h1= title
    //p Welcome to #{title}
        
    div.view-frame(ng-view)
    
    script(type="text/javascript").
        window.user = !{user};
        window.console = window.console || {};
        window.console.log = window.console.log || function(){};
    