body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
/*	background-color: #eeeeee;*/
}

.mypage{ background-color: #fff; border: 1px solid gray; border-radius: 3px;}

a {
  color: #00B7FF;
}

a.del{
    text-decoration:none;
    cursor:pointer;
}

